@{
    ViewData["Title"] = "404";
}

<section class="big-padding-center">
    <img class="mb-4 w-600" src="Images/404-illustration.svg" alt="">
    <div class="mb-4 font-size-80">
        Looks Like Here <br> Is Nothing
    </div>
    <p class="font-size-24 text-light">
        Don’t be fret. We are here.
    </p>
</section>

