@{
    ViewData["Title"] = "Services";
}

<header class="bg-gradient-half-size">
    <partial name="_HeaderPartial" model='@new NavbarViewModel("/Home/Services")'/>

    <section class="big-padding-center">
        <div class="font-size-80">Services</div>
        <div class="text-light">Home | Services</div>
    </section>
</header>


<section class="big-padding-center">
    <div class="container p-5">
        <div class="row row-cols-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="~/images/empty-grey.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="position-relative">
                            <img class="card-icon" src="~/Images/empty-navyblue.svg" alt="">
                            <div class="card-title">UI/UX Design</div>
                        </div>
                        <p class="card-text">
                            The functional goal of technical content is to help people use a
                            product successfully. The business goal must tie the content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/images/empty-grey.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="position-relative">
                            <img class="card-icon" src="~/images/empty-navyblue.svg" alt="">
                            <div class="card-title">IT Consultancy</div>
                        </div>
                        <p class="card-text">
                            The functional goal of technical content is to help people use a
                            product successfully. The business goal must tie the content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/images/empty-grey.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="position-relative">
                            <img class="card-icon" src="~/images/empty-navyblue.svg" alt="">
                            <div class="card-title">Technology Prof.</div>
                        </div>
                        <p class="card-text">
                            The functional goal of technical content is to help people use a
                            product successfully. The business goal must tie the content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 row-cols-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="~/images/empty-grey.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="position-relative">
                            <img class="card-icon" src="~/images/empty-navyblue.svg" alt="">
                            <div class="card-title">Web Development</div>
                        </div>
                        <p class="card-text">
                            The functional goal of technical content is to help people use a
                            product successfully. The business goal must tie the content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/images/empty-grey.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="position-relative">
                            <img class="card-icon" src="~/images/empty-navyblue.svg" alt="">
                            <div class="card-title">App Development</div>
                        </div>
                        <p class="card-text">
                            The functional goal of technical content is to help people use a
                            product successfully. The business goal must tie the content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/images/empty-grey.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="position-relative">
                            <img class="card-icon" src="~/images/empty-navyblue.svg" alt="">
                            <div class="card-title">Game Design</div>
                        </div>
                        <p class="card-text">
                            The functional goal of technical content is to help people use a
                            product successfully. The business goal must tie the content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>